@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

body {
    background-color: #fffffa;
    font-family: 'Roboto Mono', monospace;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #36454f;
}

h1, h5 {
    text-align: center;
}

.Centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ALast {
    letter-spacing: 10px;
}

a:link, a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}